<ion-header-bar align-title="center" class="bar-stable">
  <div class="buttons">
    <button class="button button-icon ion-ios-arrow-left" ng-click="$ionicGoBack()">
    </button>
  </div>
  <div class="h1 title login-title" >Mike Bamiloye</div>
</ion-header-bar>
<ion-view>
  <ion-content>
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/mike.png">
        <h2>Mike Bamiloye</h2>
        <p>
          <a href="#" class="subdued">Followers：300</a>
          <a href="#" class="subdued">Tells：300</a>
        </p>
      </div>
      <div class="list">
        <a class="item item-thumbnail-left" href="#/tab/post">
          <img src="img/play.png">
          <h2>3 min Listen</h2>
          <p class="friend-detail-p">25 mins ago</p>
          <p class="friend-detail-p">Tellers: 5</p>
          <p class="friend-detail-p">Topic: Politics</p>
          <div class="item tabs tabs-secondary tabs-icon-left">
                        <a class="tab-item" href="#">
                            <i class="icon ion-thumbsup"></i>(330)
                        </a>
                        <a class="tab-item" href="#/tab/postMsg">
                            <i class="icon ion-chatbox"></i>(300)
                        </a>
                        <a class="tab-item" href="#/tab/giveup">
                            <i class="icon ion-sad"></i>(1)
                        </a>
                    </div>
        </a>
        <a class="item item-thumbnail-left" href="#/tab/post">
          <img src="img/play.png">
          <h2>4 min Listen</h2>
          <p class="friend-detail-p">14 days ago</p>
          <p class="friend-detail-p">Tellers: 5</p>
          <p class="friend-detail-p">Topic: Politics</p>
          <div class="item tabs tabs-secondary tabs-icon-left">
                        <a class="tab-item" href="#">
                            <i class="icon ion-thumbsup"></i>(330)
                        </a>
                        <a class="tab-item" href="#/tab/postMsg">
                            <i class="icon ion-chatbox"></i>(300)
                        </a>
                        <a class="tab-item" href="#/tab/giveup">
                            <i class="icon ion-sad"></i>(1)
                        </a>
                    </div>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>

<div class="tabs">
  <a class="tab-item">
    马上关注
  </a>
  <a class="tab-item">
    聊天
  </a>
</div>