<ion-slide-box active-slide="myActiveSlide"  style="width: 100%;height: 100%;">
  <ion-slide>
    <div class="box home-bg">
      <div class="row responsive-sm">
        <div class="col col-33 col-offset-33">
        <img src="img/logo.png" alt="" style="width: 70%; padding-top: 150px; padding-left:40px;" />
      </div>
      </div>
    </div>
  </ion-slide>
  <!-- <ion-slide>
    <div class="box yellow" style="background-image: url('img/bg2.jpg');background-size: 100% 100%; width: 100%;height: 100%;"></div>
  </ion-slide>
  <ion-slide>
    <div class="box pink" style="background-image: url('img/bg2.jpg');background-size: 100% 100%; width: 100%;height: 100%;"></div>
  </ion-slide> -->
</ion-slide-box>
<span style="position: absolute;bottom: 13px;left: 0px;width: 50%;text-align: center;color: red; text-transform: uppercase; font-weight: bold;">Create an Account</span>
<button class="button button-block  button-positive" ui-sref="register" style="position: absolute;bottom: -10px;left: 0px;width: 50%;background-color: blue;opacity: 0.4; margin-right: 5px; border-radius: 0px">
</button>
<button class="button button-block  button-assertive" ui-sref="login" style="position: absolute;right:0px;width: 50%;bottom: -10px;margin-left: 5px; border-radius: 0px; text-transform: uppercase; font-weight: bold;"">
  Login
</button>
