<ion-header-bar align-title="center" class="bar-stable" style="background-color: white">
  <div class="buttons">
    <button class="button button-icon ion-ios-arrow-left" ng-click="$ionicGoBack()">
    </button>
  </div>
  <div class="h1 title login-title" title="Peerlending"><img src="img/logo.png" alt="" style="width: 100px; padding-left:1px; height: inherit;" /></div>
  <!-- <div class="buttons">
    <a class="button login-register" ui-sref="register">

    </a>
  </div> -->
</ion-header-bar>
<ion-content  has-bouncing="true" overflow-scroll="false">
  <div class="login-mian" >
    <div class="login-content">
      <div class="blank-h12"></div>
      <div class="logo-wrap  text-center ">
        <h1> <small>LOGIN</small></h1>
      </div>
      <div class="card" style="display: none;" id="login_error">
      <div class="item item-text-wrap">
        <i class="icon ionicons ion-alert"></i>
        <h2>Error: Invalid Login Details</b>
      </div>
    </div>
      <div class="blank-h12"></div>
      <div class="input-wrap row row-center">
        <label  class="left-icon-wrap">
          <i class="ion ion-iphone"></i>
        </label>
        <input type="text" class="col login-input" placeholder="username" ng-model="client.user_email" maxlength="100">
      </div>
      <div class="input-wrap row row-center mt-20">
        <label  class="left-icon-wrap">
          <i class="icon icon-psw"></i>
        </label>
        <input type="{{show_psd ? 'text' : 'password'}}"  class="col login-input" placeholder="password" ng-model="client.user_password" onkeyup="value=value.replace(/[^\w\.\/]/ig,'')">
        <button class="psd-control" ng-click="showPassword()">
          <i class="icon  {{show_psd ? 'icon-psddisvisiable' : 'icon-psdvisiable'}} " ></i>
        </button>
      </div>
      <div class="blank-h12"></div>
      {{msg}}
      <div class=" text-right ">
        <a href="" class="forget-passw" ui-sref="findpsw">Forgot Password</a>
      </div>
      <div class="blank-h12"></div>
      <button class="button button-block  button-light" disabled="disabled" style="display: none;" id="loader_bar">
        <div class="loader-inner ball-pulse">
            <div></div>
            <div></div>
            <div></div>
        </div>
      </button>
      <button class="button button-block  button-positive " ng-click="login(client)" id="login_button">
        Login
      </button>
    </div>


  </div>
</ion-content>
